body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caja {
  background-color: rgb(0, 72, 255);
  border-radius: 12px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main {
  gap: 20px;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 200px 200px 200px;
}
